@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Đại học Công Nghệ TP.HCM <br />
    <abbr title="">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Trường Đại Học Công Nghệ TP.HCM</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com"></a>
</address>